#htb:hover {
  background: #7bb900;
}

#htb {
  color:#222;
  background:#9fef00;
}

.navbar-toggler {
  border: none;
}

/* btn style for cryptocurrency div */
.btn-copy.btn {
  background: #57cbcc;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 35px;
  text-transform: uppercase;
  vertical-align: unset;
}

.btn-copy:hover {
  background: #2c9091;
  color: #fff;
}

.b-style {
  background: none;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 35px;
  border: 1px solid #57cbcc;
}

/* style for new documentaton section */
/*
#docs {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), 
              url("../../images/backgrounds/doc-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.border-meghna.docs {
  border-top: none;
}

.border-meghna.docs::before {
  margin-left: -150px;
  width: 50%;
}

.searchFieldDocs {
  min-height: 70px;
  width: 50%;
  border: 0;
  background: #fff;
  display: block;
  padding: 10px 70px 10px 32px;
  font-size: 18px;
  color: #666;
  border-radius: 20px;
  margin: auto;
}

.btn-faqs.btn {
  text-transform: none;
  border-radius: 10px;
}

.btn-faqs.btn-main {
  background: cyan;
  font-size: 18px;
}

.btn-faqs.btn-main:hover {
  background: #57cbcc;
}

.card {
  border-radius: 20px;
  display: block;

}

.card-body {
  padding: 2px;
}

.help-box {
  filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(134deg) brightness(103%) contrast(103%);
}

.card:hover .help-box {
  filter: invert(82%) sepia(92%) saturate(1025%) hue-rotate(104deg) brightness(101%) contrast(102%);
}

hr {
  padding: 0;
  margin: 0 auto;
  width: 90%;
}

@media only screen 
  and (max-width: 991px) {
  
  .searchFieldDocs {
      width: 80%;
  }

  .border-meghna.docs::before {
      margin-left: -50px;
      width: 100%;
  }
  
  .card {
      margin-bottom: 40px;
  }

  .btn-jump-aboard {
      margin-bottom: 20px;
  }
}*/


/* Parrot OS Animated Logo by Serverket */
.svg_logo {
  z-index: 3;
}

#circle {
  stroke-dasharray: 2000;
  fill: #55ddff;
  stroke: #55ddff;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  fill-rule: nonzero;
  -webkit-animation: circle 5s alternate;
          animation: circle 5s alternate;
}

@-webkit-keyframes circle {
  0% {
    stroke-dashoffset: 2000;
    fill-opacity: 0;
    stroke-width: 1pt;
  }

  20% {
    fill-opacity: 0;
  }

  40% {
    fill-opacity: 0;
  }

  60% {
    fill-opacity: 0.5;
  }

  80% {
    fill-opacity: 0;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0pt;
  }
}

@keyframes circle {
  0% {
    stroke-dashoffset: 2000;
    fill-opacity: 0;
    stroke-width: 1pt;
  }

  20% {
    fill-opacity: 0;
  }

  40% {
    fill-opacity: 0;
  }

  60% {
    fill-opacity: 0.5;
  }

  80% {
    fill-opacity: 0;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0pt;
  }
}

#bird {
  stroke-dasharray: 1200;
  fill: #1a1a1a;
  stroke: #1a1a1a;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  fill-rule: nonzero;
  -webkit-animation: bird 7s alternate;
          animation: bird 7s alternate;
}

@-webkit-keyframes bird {
  0% {
    stroke-dashoffset: 2500;
    fill-opacity: 0;
    stroke-width: 1pt;
  }

  20% {
    fill-opacity: 0;
  }

  40% {
    fill-opacity: 0;
  }

  60% {
    fill-opacity: 0.5;
  }

  80% {
    fill-opacity: 0;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0.5pt;
  }
}

@keyframes bird {
  0% {
    stroke-dashoffset: 1500;
    fill-opacity: 0;
    stroke-width: 2pt;
  }

  20% {
    fill-opacity: 0;
  }

  40% {
    fill-opacity: 0;
  }

  60% {
    fill-opacity: 0;
  }

  80% {
    fill-opacity: 1;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0pt;
  }
}

/* Media Queries */
@media only screen 
  and (max-width: 991px) {

  h1.style {
      font-size: 2rem;
  }

  .b-style {
      width: 60%; 
      overflow-y: auto;
      overflow-x: scroll;
      position: relative;
      display: inline-flex;
      vertical-align: middle;
  }

  .btn-copy.btn {
      width: 40%;
      padding-left: 1px;
      padding-right: 1px;
  }
}

@media only screen 
  and (max-width: 991px) {
    #navigation {
      margin-top: 0.5rem !important;
    }
  }

@media only screen 
and (max-width: 800px) {
  .navbar-brand {
    margin: 0;
  }

  .svg_logo {
    width: 10% !important;
    height: 10% !important;
  }

}

@media only screen 
and (max-width: 415px) { 
  .htb_img {
    width: 100%;
    display: inline-block;
  }
}